@{
    ViewData["Titulo"] = "Tarefas";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador de Tarefas</h1>
    <p>Gerencia tarefas com praticidade!</p>
    <div>
        <img src="/img/4904575.png"/ width="400" height="350">
    </div>
</div>
